.popup-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.popup-inner {
    width: 100%;
    max-width: 400px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 100px 70px #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
